{% extends 'base_templates/base.html' %}
{% load static %}
{% block content %}
    <main class="content">
        <div class="container-fluid p-0">

            <h1 class="h3 mb-3">Perfil</h1>

            <div class="row">
                <div class="col-md-3 col-xl-2">

                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Configuracion</h5>
                        </div>

                        <div class="list-group list-group-flush" role="tablist">
                            <a class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#account" role="tab">
                                Cuenta
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#password" role="tab">
                                Contraseña
                            </a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#" role="tab">
                                Notificaciones Email 
                            </a>

                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-xl-10">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="account" role="tabpanel">

                            <div class="card">
                                <div class="card-header">
                                    {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'success'%}
                                                <div class="mt-2 alert alert-success alert-dismissible fade show" role="alert">
                                                    <div class="alert-message">
                                                        <strong>{{ message }} </strong> 
                                                    </div>
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            {% else %}
                                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                    <strong>{{ message }} </strong> 
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <h5 class="card-title mb-0">Informacion</h5>
                                </div>
                                <div class="card-body">
                                    <form method="POST" action="update_profile" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="mb-3">
                                                    <label class="form-label" for="inputUsername">Nombre Usuario</label>
                                                    <input type="text" class="form-control" id="inputUsername" placeholder="Username" value="{{ user.username }}">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label" for="inputUsername">Informacion Personal</label>
                                                    <textarea class="form-control" rows="3" id="inputBio" placeholder="Cuentanos algo sobre ti" name="personal_info">
                                                        {{ usuario.personal_info }}
                                                    </textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="text-center">
                                                    {% if usuario.profile_image %}
                                                        <img id="profilePreview" alt="Jassa" src="{{ usuario.profile_image.url }}" class="rounded-circle img-responsive mt-2" width="128" height="128">
                                                    {% else %}
                                                        <img id="profilePreview" alt="Jassa" src="{% static 'img/dashboard/avatars/avatar.jpg' %}" class="rounded-circle img-responsive mt-2" width="128" height="128">
                                                    {% endif %}
                                                    <div class="mt-2">
                                                        <label for="profileInput" class="btn btn-primary">
                                                            <i class="fas fa-upload"></i> Upload
                                                        </label>
                                                        <input type="file" id="profileInput" accept="image/*" style="display: none;" onchange="profilePicture(event)" name="profile_image">
                                                    </div>

                                                    <script>
                                                        function profilePicture(event) {
                                                            const file = event.target.files[0];
                                                            if (file) {
                                                                const reader = new FileReader();
                                                                reader.onload = function(e) {
                                                                    const preview = document.getElementById("profilePreview");
                                                                    preview.src = e.target.result;
                                                                };
                                                                reader.readAsDataURL(file);
                                                            } else {
                                                                alert("No file selected!");
                                                            }
                                                        }
                                                    </script>

                                                    <small>For best results, use an image at least 128px by 128px in .jpg format</small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="inputFirstName">Nombres</label>
                                                <input type="text" class="form-control" id="inputFirstName" placeholder="First name" name="names" value="{{ usuario.names }}">
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label" for="inputLastName">Apellidos</label>
                                                <input type="text" class="form-control" id="inputLastName" placeholder="Last name" name="last_names" value="{{ usuario.last_names }}">
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputEmail4">Email</label>
                                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" value="{{ usuario.email }}" name="email">
                                        </div>

                                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                    </form>

                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="password" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Password</h5>

                                    <form>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputPasswordCurrent">Current password</label>
                                            <input type="password" class="form-control" id="inputPasswordCurrent">
                                            <small><a href="#">Forgot your password?</a></small>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputPasswordNew">New password</label>
                                            <input type="password" class="form-control" id="inputPasswordNew">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="inputPasswordNew2">Verify password</label>
                                            <input type="password" class="form-control" id="inputPasswordNew2">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

{% endblock %}